# Kotlin/Java
*.class
*.jar
*.war
*.ear
/build/
/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
/local.properties

# Swift/Xcode
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.xcuserdata
DerivedData/

# macOS
.DS_Store

# Misc
*.log

# Common binary files
*.exe
*.bin

# build folder
**/build/
*.hprof
